{% extends "FOSUserBundle::layout.html.twig" %}

{% block breadcrumb %}
    <li class="unavailable"><a href="{{ path('ctp_affiliate') }}">{{'ctp_user.affiliate._breadcrumb'|trans}}</a></li>
    {% block affiliate_breadcrumb %}{% endblock %}
{% endblock %}
